:root {
	--purple-50: #FAF5FF;
	--purple-100: #F3E8FF;
	--purple-200: #E9D5FF;
	--purple-300: #D8B4FE;
	--purple-400: #C084FC;
	--purple-500: #A855F7;
	--purple-600: #9333EA;
	--purple-700: #7E22CE;
	--purple-800: #6B21A8;
	--purple-900: #581C87;
	--light: var(--purple-50);
	--dark: #1E1E1E;
	--outline: rgba(89, 28, 135, 0.2);

	--dark-purple-200: #B376E3;
	--dark-bg-50: #1B1D1E;
}

html {
	background-color: black;
}

body {
	display: flex;
	flex-direction: column;

	background-repeat: repeat;

	margin: 5em 5em;
	gap: 2em;

}

.text {
	color: var(--purple-900);
	font-weight: normal;
	font-size: 40px;
}

* {
	font-family: 'Plus Jakarta Sans';
}

.div-emoji {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70vh;
}

.emoji {
	height: 5em;
	position: relative;
	opacity: 0;

	transition: opacity .4s ease;

	-webkit-user-drag: none;
}

.emoji:hover {
	/* Start the shake animation and make the animation last for 0.8 seconds */
	animation: shake 0.8s;

	/* When the animation is finished, start again */
	animation-iteration-count: infinite;
}

.card {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	position: absolute;
	border: 2px solid var(--purple-50);
	border-radius: 8px;
	padding: 1rem;
}

.like {
	color: var(--purple-50);
	font-size: 2em;
}

.clock {
	font-size: 2em;
	color: var(--purple-50);
	font-weight: bold;
	margin: 0;
}

.week {
	font-size: 1.5em;
	color: var(--purple-50);
	font-weight: bold;
	margin: 0;
}

.month {
	font-size: 1.5em;
	color: var(--purple-50);
	font-weight: normal;
	margin: 0;
}

.weather {
	color: var(--purple-50);
	font-weight: normal;
	margin: 0;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}

	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}

	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}

	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}

	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}

	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}

	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}

	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}

	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}

	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}

	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}