<div class="flex w-full p-4 border rounded-sm justify-between">
	<!-- <div class="h-20 w-20 rounded-full bg-zinc-400"></div> -->
	<div class="flex flex-col gap-4">
		<span class="text-lg leading-none font-grotesk">Bruno Oliveira</span>
		<span class="leading-none text-zinc-400 font-sans text-sm">&#64;bruhensant</span>
	</div>

	<div class="flex gap-4 items-center font-grotesk group *:transition-all">
		<a class="hover:text-blue-500" href="https://github.com/bruhensant">
			<github-icon></github-icon>
		</a>
		<a class="hover:text-blue-500" href="https://linkedin.com/in/bruhensant">
			<linkedin-icon></linkedin-icon>
		</a>
		<a class="text-zinc-300 cursor-not-allowed">[resume]</a>
	</div>
</div>
