<div class="flex flex-col gap-4 w-full p-4 border rounded-sm dark:border-zinc-700">
	<div class="flex justify-between">
		<div class="flex flex-col gap-4">
			<span class="text-lg leading-none font-grotesk dark:text-zinc-100">Bruno Oliveira</span>
			<span class="leading-none text-zinc-400 font-sans text-sm">&#64;bruhensant</span>
		</div>

		<div class="flex gap-4 items-center font-grotesk group *:transition-all">
			<a class="hover:text-blue-500 dark:text-zinc-300 dark:hover:text-blue-400" href="https://github.com/bruhensant">
				<github-icon></github-icon>
			</a>
			<a class="hover:text-blue-500 dark:text-zinc-300 dark:hover:text-blue-400" href="https://linkedin.com/in/bruhensant">
				<linkedin-icon></linkedin-icon>
			</a>
			<a class="hover:text-blue-500 dark:text-zinc-300 dark:hover:text-blue-400" href="/Bruno Oliveira - CV.pdf" download>[resume]</a>
			<theme-toggle></theme-toggle>
		</div>
	</div>

	<div class="border-t -mx-4 border-zinc-300 border-dashed dark:border-zinc-700"></div>

	<span class="text-sm font-sans dark:text-zinc-300">
		Developer with solid experience in User Interface (UI) and User Experience (UX) Design.
		Specialized in project management and technical team leadership, proficient in technologies
		such as Angular, React, Typescript, Javascript, CSS, and HTML. Focused on developing
		disruptive web applications and delivering high-value solutions that prioritize customer and
		user satisfaction.
	</span>
</div>
