<div class="flex flex-col gap-4 w-full p-4 border rounded-sm">
	<div class="flex justify-between">
		<div class="flex flex-col gap-4">
			<span class="text-lg leading-none font-grotesk">Bruno Oliveira</span>
			<span class="leading-none text-zinc-400 font-sans text-sm">&#64;bruhensant</span>
		</div>

		<div class="flex gap-4 items-center font-grotesk group *:transition-all">
			<a class="hover:text-blue-500" href="https://github.com/bruhensant">
				<github-icon></github-icon>
			</a>
			<a class="hover:text-blue-500" href="https://linkedin.com/in/bruhensant">
				<linkedin-icon></linkedin-icon>
			</a>
			<!-- <a class="text-zinc-300 cursor-not-allowed">[resume]</a> -->
		</div>
	</div>

	<div class="border-t -mx-4 border-zinc-300 border-dashed"></div>

	<span class="text-sm font-sans">
		Developer with solid experience in User Interface (UI) and User Experience (UX) Design.
		Specialized in project management and technical team leadership, proficient in technologies
		such as Angular, React, Typescript, Javascript, CSS, and HTML. Focused on developing
		disruptive web applications and delivering high-value solutions that prioritize customer and
		user satisfaction.
	</span>
</div>
