<div
	class="border cursor-pointer group border-zinc-300 hover:border-black hover:bg-zinc-50 p-4 flex h-full flex-col gap-4 transition-colors ease-in rounded-sm dark:border-zinc-700 dark:bg-zinc-900 dark:hover:border-zinc-400 dark:hover:bg-zinc-800"
>
	<span class="font-grotesk text-sm underline underline-offset-4 group-hover:underline-offset-6 transition-all ease-in dark:text-zinc-100"> {{project().name}} </span>

	<span class="text-sm dark:text-zinc-300"> {{project().description}} </span>
</div>
