<div class="flex w-full">
	<div
		class="grid w-full grid-cols-1 items-center gap-4 rounded-sm border p-4 sm:grid-cols-3 sm:gap-2"
	>
		@for (tab of tabs; track tab.id) {
		<div class="flex justify-between">
			<a
				[routerLink]="['/', tab.id]"
				routerLinkActive="underline-offset-2 text-blue-500"
				class="ml-4 text-sm font-grotesk cursor w-fit cursor-pointer uppercase leading-none underline underline-offset-4 transition-all ease-in hover:text-blue-600 hover:underline-offset-6"
			>
				{{ tab.label }}
			</a>

			@if (!$last) {
			<div class="hidden h-12 -my-4 border-r border-dashed sm:inline"></div>
			}
		</div>
		}
	</div>
</div>
